<!DOCTYPE html>
<html lang="en">

<head>
    <title>Student Tracker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="/pwa_logo/logo48.png" type="image/png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="manifest" href="/manifest.json">
</head>

<body>
    {% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
		<div class="alert alert-info alert-dismissible fade show text-center" role="alert">
			<strong>{{message}}</strong>
		  </div>
		  <!-- <script>
			M.toast({ html: "{{message}}", classes: "rounded" });
		  </script> -->
		{% endfor %}
	{% endif %}
	{% endwith %}
    <div class="container">
        <!-- {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %} -->
        <div class="row justify-content-center align-self-center mt-5">
            <div class="card">
                <div class="card-header">
                   Sign In
                </div>
                <div class="card-body">
                    <form action="/SigningIn" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="email"></label>
                            <input name="email" id="email" type="email" class="form-control" placeholder="Enter Email">
                        </div>
                        <div class="form-group">
                            <label for="password"></label>
                            <input name="pin" id="pin" type="password" class="form-control" placeholder="Pin">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Sign In</button>
        `           
                        <p>Not Have an Account?</p>
                        <a href="/SignUp" class="btn btn-primary btn-block" role="button">Sign Up</a>
                    </form>
                </div>
            </div>
        </div>   
    </div>
    <script src="/app.js"></script>
</body>

</html>